.twoSection {
    background-color: #0a192f;

    position: relative;
    // width: 100vw;
    // height: 100vh;

    .gitProjects {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 50px;
        position: relative;
        padding: 10%;

        .project {
            background-color: #112240;
            color: aliceblue;
            // width: 200px;
            min-height: 130px;
            padding: 10%;
            // margin: 20px;
            .title {
                font-size: 1.5rem;
                text-decoration: blink;
                color: white;
                font-weight: bold;
                display: flex;
                align-items: center;
                .nameProject {
                    font-size: 1.5rem;
                    font-weight: bold;
                    padding-left: 10px;
                }
            }	
        }
    }

}